<div id="headerDiv">
    <h3>Book Mart</h3>
    <nav>
        <ul id="headerList" [ngClass]="toggleShow?'show':'hide'">
            <li><a routerLink="/createComponent">Home</a> </li>
            <li><a routerLink="/getAllBooks">GetAllBooks</a></li>
            <li style="position: absolute; right: 0;" *ngIf="!isLoginUser">
                <i class="fas fa-sign-in-alt"></i> <a (click)="login()">LogIn</a>
            </li>
            <li style="position: absolute; right: 0;" *ngIf="isLoginUser">
                <i class="fas fa-sign-out-alt"></i> <a (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>
    <button id="toggleButton">
        <span id="span2header" (click)="openHeader()" *ngIf="ismenuItem"> <i class="fa-solid fa-bars"></i></span>
        <span id="span2header" (click)="closeHeader()" *ngIf="iscloseItem"> <i class="fa-solid fa-xmark"></i></span>
    </button>
</div>