<div id="footerDiv">
    <div id="topBar">
        <div>
            <h1>Book Mart</h1>
        </div>
        <div id="d1">
            <nav>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/getAllBooks">GetAllBooks</a></li>
                </ul>
            </nav>
        </div>
        <div id="d2">
            <nav>
                <ul>
                    <li><i class="fab fa-twitter"></i> Twitter</li>
                    <li><i class="fab fa-linkedin"></i> Linkedin</li>
                    <li><i class="fab fa-youtube"></i> YouTube</li>
                </ul>
            </nav>
        </div>
    </div>
    <span>CopyRight &copy; By Sukritan Gupta {{currentYear}}</span>
</div>