<div class="container" id="firstContainer">
    <!-- Here I use template driven approach to create login form -->
    <div class="row justify-content-center align-content-center" id="registerDiv">
        <form (ngSubmit)="onSubmit()" class="col-md-3 col-10" id="registerForm">
            <h3 style="text-align: center;" class="mt-4">Register </h3>
            <div id="inputDiv" class="align-content-center">
                <input type="text" class="form-control mb-4" name="username" [(ngModel)]="username" placeholder="UserName">
                <input type="text" class="form-control mb-4" name="password" [(ngModel)]="password" placeholder="Password">
                <input type="submit" value="Register" class="form-control btn btn-primary">
            </div>

        </form>

    </div>
</div>